<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Emmanuel_Ajayi_sec008_Lab02/src/emmanuel_Ajayi_exercise1/SortNumbersTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="emmanuel_Ajayi_exercise1.SortNumbersTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Emmanuel_Ajayi_sec008_Lab02"/>
</launchConfiguration>
